.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.titulo {
  grid-column: 1 / -1;
}

.info {
  place-items: start;
  place-self: start;
  display: grid;
  gap: 10px;
}

.comprar {
}


















body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 48px;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p, span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.comprar {
  background: #a8f;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

.preco {
  background: #ddd;
  border-radius: 5px;
  padding: 5px;
}