h1 {
  margin: 0;
  padding: 10px;
  background: lightblue;
}

.index1 {
  position: relative;
  background: greenyellow;
  top: 20px;
  z-index: 0;
}

.index2 {
  position: relative;
  background: lightcoral;
  top: 100px;
}