:root {
  --cinza: #f7f7f7;
  --cinza-escuro: #c6c6c6;
  --vermelho: #ee2211;
  --preto: #000000;
  --branco: #ffffff;
}

body {
  margin: 0;
  background: var(--cinza);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  margin: 0px 20px 0px 0px;
  background: var(--branco);
  padding: 10px 20px;
  color: var(--preto);
  border-radius: 5px;
  text-transform: uppercase;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.intro {
  background: var(--branco);
  text-align: end;
  padding: 40px;
  position: relative;
  display: grid;
  place-content: center end;
  place-items: end;
}

.detalhe {
  width: 60px;
  height: 5px;
  background: var(--vermelho);
  position: absolute;
  right: -30px;
  top: 20px;
}

.intro a {
  text-decoration: none;
  color: var(--branco);
  background: var(--vermelho);
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 60px;
  text-transform: uppercase;
  color: var(--cinza-escuro);
  text-align: right;
  padding: 40px;
  align-self: center;
}

.vantagens {
  background: var(--branco);
  padding: 40px;
}

.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1px 20px;
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: var(--branco);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}



















































img{ 
  max-width: 100%;
  display: block;
}